/* Модальные окна */
/* ========================================================================== */

.modal {
  display: none;
}

/* Глобальные стили */
/* ========================================================================== */

body {
  padding-top: 10px;

  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a:not(.button) {
  color: #ffffff;

  text-decoration: underline solid rgba(255, 255, 255, 0.3);
}

a:not(.button):hover,
a:not(.button):active {
  color: #ffbc9e;

  text-decoration: underline solid rgba(255, 188, 158, 0.3);
}

.button {
  color: #ffffff;

  background-color: #e94f38;
  border: none;
  text-decoration: none;
  /* Памятка: градиент и тень */
}

.button:hover {
  background-color: #f07a63;
}

.button:active {
  /* Памятка: градиент и тень в обратном направлении */
}

/*
input:placeholder,
textarea:placeholder-shown {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #999999;

  background-color: #ffffff;
}
  Не работает
*/

/* Шапка сайта */
/* ========================================================================== */

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 64px;
  margin-bottom: 10px;
}

.main-header .logo-gllacyshop {
  width: 154px;
  height: 64px;
  margin-right: 25px;
}

.main-header .main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-navigation .list-navigation-site {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0;
  margin-right: 25px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;

  list-style: none;
}

.list-navigation-site .item-navigation-site {
  margin: 0;
  margin-right: 30px;
  padding: 0;
}

.list-navigation-site .button-navigation:hover {
  color: #000000;

  background-color: #ffffff;
  text-decoration: none;
}

.list-navigation-site .button-navigation:active {
  text-decoration: none;
  /* Памятка: внутренняя тень */
}

.list-navigation-site .button-navigation-current,
.list-navigation-site .button-navigation-current:hover {
  color: #000000;

  background-color: #d07058;
  text-decoration: none;
}

.main-navigation .list-navigation-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  list-style: none;
}

.list-navigation-user .item-navigation-user {
  margin: 0;
  margin-left: 10px;
  padding: 0;
}

.list-navigation-user .button-navigation {
  color: #ffffff;

  background-color: #a1b4a9;
  text-decoration: none;
}

.list-navigation-user .button-navigation:hover {
  color: #000000;

  background-color: #ffffff;
}

/* Главная страница */
/* ========================================================================== */

.operation-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.operation p {
  margin: 0;
  padding: 0;
}

.operation .mode {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.operation .phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.advertising {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 35px;
  /* Для прозрачного фона */
}

.advertising .list-advertising {
  margin: 0;
  padding: 0;

  list-style: none;
}

.list-advertising .item-advertising {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 240px;
  margin: 0;
  margin-top: -30px;
  margin-bottom: -60px;
  padding: 0 230px;
  padding-top: 315px;

  background-color: transparent;
  background-image: url("../img/background-advertising-sentence-1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.item-advertising a {
  margin-bottom: 30px;

  text-decoration: none;
}

.item-advertising h3 {
  margin: 0;
  padding: 0;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}

.advertising .button {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.advertising .list-slider {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.list-slider .item-slider {
  margin: 0;
  margin-right: 8px;
  padding: 0;
}

.presents {
  margin-bottom: 35px;
}

.presents .list-presents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.presents li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 560px;
  min-height: 230px;
  margin: 0;
  padding: 0;
}

.presents .item-raspberry {
  background-color: #671223;
  background-image: url("../img/background-presents-raspberry.jpg");
  background-position: left top;
  background-repeat: no-repeat;
}

.presents .item-chocolate {
  background-color: #3c2317;
  background-image: url("../img/background-presents-chocolate.jpg");
  background-position: left top;
  background-repeat: no-repeat;
}

.presents h3 {
  margin-top: 25px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-left: 15px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.presents p {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 25px;
  margin-left: 15px;
  padding: 0;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.presents .button {
  align-self: flex-end;
  margin-top: auto;
  margin-right: 20px;
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-main {
  margin-bottom: 35px;
}

.catalog .list-catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog .item-catalog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 267px;
  min-height: 327px;
  margin: 0;
  padding: 0;
}

.catalog a {
  order: 1;
}

.catalog h3 {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}

.catalog p {
  margin: 0;
  padding: 0;
}

.catalog .price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog .weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.features {
  margin: 0;
  margin-bottom: 40px;
  padding: 20px;
  padding-bottom: 0;

  color: #000000;

  background-color: #ebdec1;
}

.features p {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features .list-features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features .item-feature {
  width: 485px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-left: 60px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.blog-appointment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.new-blog {
  width: 520px;
  min-height: 195px;
  padding: 0 20px;
  padding-top: 25px;

  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/background-blog-strawberry.jpg");
  background-position: left top;
  background-repeat: no-repeat;
}

.new-blog .wrapper {
  width: 285px;
}

.new-blog h2 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.new-blog a {
  display: block;
  margin-bottom: 25px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  text-decoration: underline solid #000000;
}

.new-blog a:hover,
.new-blog a:active {
  color: #e84d37;

  text-decoration: underline solid rgba(232, 077, 055, 0.3);
}

.appointment {
  width: 508px;
  min-height: 178px;
  padding: 0 20px;
  padding-top: 30px;

  color: #5a5a5a;

  background-color: #f8f7f4;
  border: 6px solid #92cdff;
}

.appointment .info-appointment {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.appointment .form-appointment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 35px;
}

.form-appointment .row-form-appointment {
  margin: 0;
  padding: 0;
}

.appointment .button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.container-address {
  width: 1200px;
  margin: 0 auto;
}

.address-connection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 255px;
  min-height: 245px;
  margin: 0;
  padding: 30px 25px;

  color: #000000;

  background-color: #ffffff;
  font-style: normal;
}

.address-connection p {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.address-connection .row {
  display: block;
  margin-bottom: 10px;
}

.address-connection .row-address {
  width: 155px;
}

.address-connection b {
  display: block;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.address-connection .row-phone {
  margin-bottom: 10px;
}

/* Подвал сайта */
/* ========================================================================== */

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 20px;
}

.main-footer .list-social {
  /* Отключает флекс, что бы надписи кнопок много места не занимали
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  */
  margin: 0;
  margin-right: 20px;
  padding: 0;

  list-style: none;
}
/* Отключает отступ, что бы надписи кнопок много места не занимали
.list-social .item-social {
  margin: 0;
  margin-right: 10px;
  padding: 0;
}
*/
.main-footer .list-useful {
  column-count: 2;
  column-gap: 5px;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  padding-top: 20px;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  list-style: none;
}

.list-useful .item-useful {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.main-footer b {
  font-weight: 700;
}

.main-footer p {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

/* Страница каталога */
/* ========================================================================== */

.header-catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.header-catalog .list-breadcrubs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
  margin-right: 25px;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  font-weight: 700;

  list-style: none;
}

.list-breadcrubs .item-breadcrubs {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  padding-left: 15px;
}

.list-breadcrubs .item-breadcrubs:first-child {
  padding-left: 0;
}

.list-breadcrubs .breadcrubs-current {
  text-decoration: none;
}

.title-catalog {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filters {
  margin-right: 265px;
  margin-bottom: 35px;
}

.filters .form-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
  min-height: 130px;
}

.form-filters .block-filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 195px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.form-filters .title-block-filters {
  margin-bottom: 5px;
}

.form-filters fieldset {
  border: none;
}

.block-fat .list-fat,
.block-fillers .list-filler {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.list-fat .item-fat {
  margin: 0;
  margin-right: 15px;
  padding: 0;
}

.list-fat .item-fat:last-child {
  margin-right: 0;
}

.list-filler .item-filler {
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.list-filler .item-filler:last-child {
  margin-right: 0;
}

.filters .button {
  margin-right: 10px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  color: #ffffff;

  background-color: #9cb0a4;
  border: 2px solid #ffffff;
}

.filters .button:hover {
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.filters .button:active {
  color: #000000;

  background-color: #eaeaea;
  border: 2px solid #eaeaea;
  /* Памятка: внутренняя тень */
}

.catalog:not(.catalog-main) {
  margin-bottom: 40px;
}

.catalog:not(.catalog-main) .item-catalog {
  margin-bottom: 40px;
}

.list-paginator {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 30px;
  padding: 0 30px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  list-style: none;
}

.list-paginator .item-paginator {
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.list-paginator .item-paginator:last-child {
  margin-right: 0;
}

.list-paginator .button-paginator {
  text-decoration: none;
}

.list-paginator .button-paginator-current,
.list-paginator .button-paginator-current:hover {
  color: #000000;

  background-color: #ffffff;
}
