/* ГЛОБАЛЬНЫЕ ПРАВИЛА */
/* ========================================================================== */

body {
  padding-top: 9px;

  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

.js-color-1 {
  background-color: #849d8f;
}
.js-color-2 {
  background-color: #8996a6;
}
.js-color-3 {
  background-color: #9d8b84;
}

a {
  display: block;

  text-align: center;
  vertical-align: center;

  outline: none;
}

a:not(.button) {
  -webkit-text-decoration: underline solid rgba(255, 255, 255, 0.3);
          text-decoration: underline solid rgba(255, 255, 255, 0.3);
  text-underline-position: under;
  color: #ffffff;
}

a:not(.button):hover,
a:not(.button):active,
a:not(.button):focus {
  -webkit-text-decoration: underline solid rgba(255, 188, 158, 0.3);
          text-decoration: underline solid rgba(255, 188, 158, 0.3);
  color: #ffbc9e;
}

img {
  max-width: 100%;
  height: auto;
}

/* ОБЩИЕ ПРАВИЛА */
/* ========================================================================== */

.modal {
  display: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-min {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.container-max {
  position: relative;

  width: 1200px;
  margin: 0 auto;
}

.button {
  min-width: 100px;
  padding: 10px 15px;

  text-decoration: none;
  color: #ffffff;

  background-color: #f26843;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background-image: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  outline: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #f07a63;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background-image: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background-image: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background-image: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* ПРАВИЛА HEADER САЙТА */
/* ========================================================================== */

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header .logo-gllacyshop {
  width: 154px;
  height: 64px;
  margin-right: 10px;
  z-index: 10;
}

.main-header .logo-gllacyshop:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.main-header .main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  z-index: 10;
}

.main-navigation .list-navigation-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin: 0;
  margin-right: 25px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;

  list-style: none;
}

.list-navigation-site .item-navigation-site {
  position: relative;

  margin: auto 0;
  padding: 0;
  padding-bottom: 4px;
}

.item-navigation-site .button-navigation {
  padding: 6px 14px;

  cursor: pointer;
}

.item-navigation-site .button-navigation:hover,
.item-navigation-site .button-navigation:focus {
  text-decoration: none;
  color: #000000;

  background-color: #ffffff;
  border-radius: 50px;
}

.item-navigation-site .button-navigation:active {
  text-decoration: none;
  color: #000000;

  background-color: #ededed;
  border-radius: 50px;
  -webkit-box-shadow: inset 0 2px 2px #696969;
          box-shadow: inset 0 2px 2px #696969;
}

.item-navigation-site .button-navigation-current {
  text-decoration: none;
  color: #000000;

  background-color: #d07058;
  border-radius: 50px;
}

.item-navigation-site .modal-list-navigation-catalog {
  position: absolute;

  display: none;
  margin: 0;
  margin-top: 4px;
  margin-left: -6px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  list-style: none;
}

.modal-list-navigation-catalog .modal-item-navigation-catalog {
  margin: 0;
  padding: 0;

  white-space: nowrap;
}

.modal-list-navigation-catalog .modal-item-navigation-catalog:first-child {
  position: relative;
}

.modal-list-navigation-catalog .modal-item-navigation-catalog:first-child::after {
  content: "";

  position: absolute;
  right: 5%;
  bottom: 0;

  display: block;
  width: 90%;
  height: 1px;

  background-color: #d1d0ce;
}

.modal-item-navigation-catalog a {
  padding: 10px 15px;

  color: #000000;
}

.modal-item-navigation-catalog a:hover,
.modal-item-navigation-catalog a:focus {
  color: #000000;

  background-color: #fbded7;
  border-radius: 5px;
}

.modal-item-navigation-catalog a:active {
  color: #000000;

  background-color: #f6b5a5;
}

.modal-item-navigation-catalog .modal-button-navigation-catalog-current,
.modal-item-navigation-catalog .modal-button-navigation-catalog-current:hover {
  text-decoration: none;
  color: #ffffff;

  background-color: #d07058;
  border-radius: 0;
}

.modal-item-navigation-catalog b {
  font-weight: 700;
}

.item-navigation-site:hover .modal-list-navigation-catalog {
  display: block;
}

.main-navigation .list-navigation-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  list-style: none;
}

.list-navigation-user .item-navigation-user {
  position: relative;

  margin: auto 0;
  margin-left: 10px;
  padding: 0;
  padding-bottom: 4px;
}

.item-navigation-user .button-navigation-user {
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-left: 45px;

  text-decoration: none;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.item-navigation-user .button-navigation-user-search {
  width: 32px;
  height: 32px;
  padding: 0;

  border-radius: 50%;
}

.item-navigation-user .button-navigation-user:hover,
.item-navigation-user .button-navigation-user:focus,
.item-navigation-user .button-navigation-user-basket-full {
  text-decoration: none;
  color: #000000;

  background-color: #ffffff;
}

.button-navigation-user svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.button-navigation-user-search svg {
  top: 7px;
  left: 7px;
}

.button-navigation-user:hover path,
.button-navigation-user:focus path,
.button-navigation-user:hover circle,
.button-navigation-user:focus circle,
.button-navigation-user:not(.button-navigation-user-basket-full):hover polygon,
.button-navigation-user:not(.button-navigation-user-basket-full):focus polygon {
  fill: #343434;
}

.button-navigation-user-basket-full path,
.button-navigation-user-basket-full circle {
  fill: #343434;
}

.item-navigation-user-search .modal-search {
  position: absolute;
  right: 0;

  display: none;
  width: 311px;
  margin-top: 4px;
  padding: 20px 15px;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.form-search p {
  margin: 0;
  padding: 0;
}

.form-search input[type="search"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;

  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
  border: 2px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.form-search input[type="search"]:hover {
  border: 2px solid rgba(154, 154, 154, 0.5);
}

.form-search input[type="search"]:focus {
  border: 2px solid rgba(046, 136, 228, 0.5);
  outline: none;
}

.form-search input[type="search"]::-webkit-input-placeholder,
.form-search input[type="search"]:-ms-input-placeholder,
.form-search input[type="search"]::-ms-input-placeholder,
.form-search input[type="search"]::placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.item-navigation-user-search:hover .modal-search {
  display: block;
}

.item-navigation-user-login-link .modal-user {
  position: absolute;
  right: 0;

  display: none;
  width: 240px;
  margin-top: 4px;
  padding: 20px;
  padding-bottom: 0;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.modal-user p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.form-user input[type="email"],
.form-user input[type="password"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;

  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
  border: 2px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.form-user input[type="email"]:hover,
.form-user input[type="password"]:hover {
  border: 2px solid rgba(154, 154, 154, 0.5);
}

.form-user input[type="email"]:focus,
.form-user input[type="password"]:focus {
  border: 2px solid rgba(046, 136, 228, 0.5);
  outline: none;
}

.form-user input[type="email"]::-webkit-input-placeholder,
.form-user input[type="email"]:-ms-input-placeholder,
.form-user input[type="email"]::-ms-input-placeholder,
.form-user input[type="email"]::placeholder,
.form-user input[type="password"]::-webkit-input-placeholder,
.form-user input[type="password"]:-ms-input-placeholder,
.form-user input[type="password"]::-ms-input-placeholder,
.form-user input[type="password"]::placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.form-user .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.form-user .button {
  margin-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.form-user a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: underline;
  color: #000000;
}

.item-navigation-user-login-link:hover .modal-user {
  display: block;
}

.item-navigation-user-basket-full .modal-basket {
  position: absolute;
  right: 0;

  display: none;
  width: 510px;
  margin-top: 4px;
  padding: 15px;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;

  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.modal-basket .table-basket {
  width: 100%;

  border-collapse: collapse;
}

.table-basket th,
.table-basket td {
  padding: 10px 12px;

  text-align: center;
  vertical-align: center;
}

.table-basket .cell-basket-close {
  padding-right: 0;
  padding-left: 0;
}

.table-basket .button-basket-close {
  position: relative;
  width: 11px;
  height: 11px;

  border: none;
  background-color: transparent;
}

.button-basket-close .img-close {
  position: absolute;
  top: 50%;
  left: 0;

  width: 11px;
  height: 11px;
  margin-top: -6px;
}

.table-basket .cell-basket-close:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.table-basket .cell-basket-close:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.table-basket td:nth-of-type(2) {
  position: relative;

  width:228px;
  padding-left: 53px;
}

.table-basket .img-product {
  position: absolute;
  top: 50%;
  left: 10px;

  width: 33px;
  height: 33px;
  margin-top: -16px;

  border-radius: 50%;
}

.table-basket a {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: #000000;
}

.table-basket span {
  color: #999999;
}

.table-basket .row-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.row-total th {
  padding: 15px 0;
  text-align: right;
}
.row-total td {
  padding: 15px 0;
  padding-left: 4px;

  text-align: left;
}
.table-basket tr:nth-last-child(2) {
  border-bottom: 1px solid #cacac7;
}

.modal-basket .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.modal-basket .button {
  margin: 0;
  margin-left: auto;
  padding: 15px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.item-navigation-user-basket-full:hover .modal-basket {
  display: block;
}

/* ПРАВИЛА ГЛАВНОЙ СТРАНИЦЫ */
/* ========================================================================== */

.operation-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.operation p {
  z-index: 2;

  margin: 0;
  padding: 0;

  text-align: right;
}

.operation .mode {
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.operation .phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.advertising {
  position: relative;

  min-height: 885px;
  margin-top: -116px;
  margin-bottom: -630px;
  padding-top: 390px;

  text-align: center;

  background-color: transparent;
  background-image: url("../img/advertising-sentence-1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.advertising::before,
.advertising::after {
  content: "";

  visibility: hidden;
}

.advertising::before {
  background-image: url("../img/advertising-sentence-2.png");
}

.advertising::after {
  background-image: url("../img/advertising-sentence-3.png");
}

.advertising ul,
.advertising li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advertising .list-slider {
  position: absolute;
  top: 563px;
  left: 0;

  font-size: 0;
}

.list-slider .item-slider {
  display: inline-block;
  margin-right: 8px;

  vertical-align: baseline;
}

.list-slider .button-slider {
  display: block;
  width: 17px;
  height: 17px;

  border: 2px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.list-slider .button-slider:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#advertising-product-1:focus ~ .advertising label[for="advertising-product-1"],
#advertising-product-2:focus ~ .advertising label[for="advertising-product-2"],
#advertising-product-3:focus ~ .advertising label[for="advertising-product-3"] {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

#advertising-product-1:checked ~ .advertising label[for="advertising-product-1"],
#advertising-product-2:checked ~ .advertising label[for="advertising-product-2"],
#advertising-product-3:checked ~ .advertising label[for="advertising-product-3"] {
  background-color: #ffffff;
}

#advertising-product-1:checked ~ .advertising #slide-1,
#advertising-product-2:checked ~ .advertising #slide-2,
#advertising-product-3:checked ~ .advertising #slide-3 {
  display: block;
}

#advertising-product-1:checked ~ .advertising {
  background-color: #849d8f;
  background-image: url("../img/advertising-sentence-1.png");
}

#advertising-product-2:checked ~ .advertising {
  background-color: #8996a6;
  background-image: url("../img/advertising-sentence-2.png");
}

#advertising-product-3:checked ~ .advertising {
  background-color: #9d8b84;
  background-image: url("../img/advertising-sentence-3.png");
}

.list-advertising .slide {
  display: none;
}

.list-advertising .title-advertising {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 31px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.list-advertising .button {
  display: inline-block;
  padding: 12px 44px;

  vertical-align: baseline;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
}

.presents {
  margin-bottom: 35px;
}

.presents .list-presents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.presents li {
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 560px;
  min-height: 229px;
  margin: 0;
  padding: 0;

  border-radius: 15px;
}

.presents .item-raspberry {
  background-color: #671223;
  background-image: url("../img/background-presents-raspberry.jpg");
  background-position: left top;
  background-repeat: no-repeat;
}

.presents .item-chocolate {
  background-color: #3c2317;
  background-image: url("../img/background-presents-chocolate.jpg");
  background-position: left top;
  background-repeat: no-repeat;
}

.presents h3 {
  max-width: 525px;
  margin: 0 19px;
  margin-top: 16px;
  margin-bottom: 15px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.presents p {
  max-width: 525px;
  margin: 0 19px;
  margin-bottom: 25px;
  padding: 0;

  white-space: pre-wrap;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.presents .button {
  max-width: 475px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: auto;
  margin-right: 21px;
  margin-bottom: 24px;
  padding-right: 23px;
  padding-left: 22px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.main-page .catalog {
  margin-bottom: 4px
}

.catalog .list-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin: 0;
  padding: 0;

  list-style: none;
}

.list-catalog .item-catalog {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 265px;
  margin: 0;
  margin-bottom: -50px;
  padding: 6px 14px;
  border-radius: 5px;
}

.catalog .item-catalog:hover {
  z-index: 5;

  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.item-catalog .title-item-catalog {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;

  width: 258px;
  min-height: 42px;
}

.title-item-catalog h3 {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}

.item-catalog .block-image {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.block-image img {
  width: 267px;
  height: 267px;

  border-radius: 50%;
}

.item-catalog .block-price {
  position: absolute;
  top: 195px;
  left: 10px;
}

.block-price .price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.block-price .weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.item-catalog .block-button {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;

  width: 286px;
  min-height: 76px;
  margin: 0;
  padding: 0;

  opacity: 0;
}

.item-catalog:hover .block-button {
  opacity: 1;
}

.item-catalog .button-catalog {
  margin: 0 40px;
  margin-top: 17px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.catalog .item-catalog-hit::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 11px;

  width: 62px;
  height: 62px;

  background-color: #ffffff;
  background-image: url("../img/icon-catalog-hit.svg");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.features {
  margin: 0;
  margin-bottom: 40px;
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 1px;

  color: #000000;

  background-color: #ebdec1;
  background-image: url("../img/background-features-wafer.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.features p {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features .list-features {
  margin: 0;
  padding: 0;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 26px;
          column-gap: 26px;

  list-style: none;
}

.features .item-feature {
  position: relative;

  width: 480px;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-left: 56px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.features .item-feature::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 0;

  width: 49px;
  height: 49px;

  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}

.features .item-feature-ice-cream::before {
  background-image: url("../img/icon-features-ice-cream.svg");
}

.features .item-feature-cow::before {
  background-image: url("../img/icon-features-cow.svg");
}

.features .item-feature-leaf::before {
  background-image: url("../img/icon-features-leaf.svg");
}

.features .item-feature-thermometer::before {
  background-image: url("../img/icon-features-thermometer.svg");
}

.blog-appointment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 39px;
}

.new-blog {
  width: 520px;
  min-height: 195px;
  padding: 0 20px;
  padding-top: 23px;

  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/background-blog-strawberry.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.new-blog .wrapper {
  width: 285px;
}

.new-blog h2 {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.new-blog a {
  margin-bottom: 25px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: #000000;

  -webkit-text-decoration: underline solid #000000;
          text-decoration: underline solid #000000;
  text-underline-position: auto;
}

.new-blog a:hover,
.new-blog a:active {
  color: #e84d37;

  -webkit-text-decoration: underline solid rgba(232, 077, 055, 0.3);
          text-decoration: underline solid rgba(232, 077, 055, 0.3);
}

.appointment-gradient {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 548px;
  min-height: 178px;
  padding: 6px;

  background-image: -webkit-repeating-linear-gradient(315deg, #ffffff, #ffffff 10px, #92cdff 10px, #92cdff 20px, #ffffff 20px, #ffffff 30px, #fe9e90 30px, #fe9e90 40px);
  background-image: -o-repeating-linear-gradient(315deg, #ffffff, #ffffff 10px, #92cdff 10px, #92cdff 20px, #ffffff 20px, #ffffff 30px, #fe9e90 30px, #fe9e90 40px);
  background-image: repeating-linear-gradient(135deg, #ffffff, #ffffff 10px, #92cdff 10px, #92cdff 20px, #ffffff 20px, #ffffff 30px, #fe9e90 30px, #fe9e90 40px);
  border-radius: 15px;
}

.appointment {
  padding: 0 19px;
  padding-top: 28px;
  padding-right: 18px;

  color: #5a5a5a;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.appointment .info-appointment {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.appointment .form-appointment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.form-appointment .row-form-appointment {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.appointment input[type="email"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;

  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
  border: 2px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.appointment input[type="email"]:hover {
  border: 2px solid rgba(154, 154, 154, 0.5);
}

.appointment input[type="email"]:focus {
  border: 2px solid rgba(046, 136, 228, 0.5);
  outline: none;
}

.appointment input[type="email"]::-webkit-input-placeholder,
.appointment input[type="email"]:-ms-input-placeholder,
.appointment input[type="email"]::-ms-input-placeholder,
.appointment input[type="email"]::placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.appointment .button {
  margin: 0;
  padding-top: 9px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 17px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map-yandex {
  position: relative;
  z-index: 2;
  border: 0;
}

.map-address {
  position: absolute;
  top: 0;
  left: 0;
}

.address-connection {
  position: absolute;
  top: 63px;
  right: 27px;
  z-index: 3;

  width: 252px;
  min-height: 245px;
  margin: 0;
  padding: 29px 25px;

  font-style: normal;
  color: #000000;

  background-color: #ffffff;
  border-radius: 15px;
}

.address-connection p {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.address-connection .block-phone {
  margin-bottom: 23px;
}

.address-connection span {
  display: block;
}

.address-connection b {
  display: block;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.address-connection .row-address {
  width: 155px;
}

.address-connection .phone {
  margin-top: 4px;
  margin-bottom: 3px;
}

.address-connection .button-connection {
  padding-top: 10px;
  padding-right: 27px;
  padding-bottom: 12px;
  padding-left: 28px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.modal-connection {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 100;

  min-width: 427px;
  margin-left: -210px;
  padding: 25px;
  padding-top: 20px;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.modal-connection p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.modal-connection b {
  color: #000000;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal-connection .block-connection-call {
  margin-bottom: 25px;
}

.form-connection input[type="text"],
.form-connection input[type="email"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 62%;
  padding: 10px 15px;

  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
  border: 2px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.form-connection textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 125px;
  padding: 10px 15px;

  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
  border: 2px solid rgba(178, 178, 178, 0.5);
  border-radius: 5px;
}

.form-connection input[type="text"]:hover,
.form-connection input[type="email"]:hover,
.form-connection textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.5);
}

.form-connection input[type="text"]:focus,
.form-connection input[type="email"]:focus,
.form-connection textarea:focus {
  border: 2px solid rgba(046, 136, 228, 0.5);
  outline: none;
}

.form-connection input[type="text"]::-webkit-input-placeholder,
.form-connection input[type="text"]:-ms-input-placeholder,
.form-connection input[type="text"]::-ms-input-placeholder,
.form-connection input[type="text"]::placeholder,
.form-connection input[type="email"]::-webkit-input-placeholder,
.form-connection input[type="email"]:-ms-input-placeholder,
.form-connection input[type="email"]::-ms-input-placeholder,
.form-connection input[type="email"]::placeholder,
.form-connection textarea::-webkit-input-placeholder,
.form-connection textarea:-ms-input-placeholder,
.form-connection textarea::-ms-input-placeholder,
.form-connection textarea::placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.form-connection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-connection .button {
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.modal-connection .modal-close {
  position: absolute;
  top: 15px;
  right: 14px;

  width: 17px;
  height: 17px;

  border: none;
  background-color: transparent;
}

.modal-connection .img-modal-close {
  position: absolute;
  top: 0;
  left: 0;

  height: 17px;
  width: 17px;
}

.modal-connection .modal-close:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.modal-connection .modal-close:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

@keyframes open-modal-connection {
0% { transform: translateX(-2000px); }
50% { transform: translateX(300px); }
75% { transform: translateX(-40px); }
100% { transform: translateX(0); }
}

.js-animation-modal-open {
  animation-name: open-modal-connection;
  animation-duration: 0.6s;
}

@keyframes error-modal-connection {
0%, 100% { transform: translateX(0); }
10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.js-animation-modal-error {
  animation-name: error-modal-connection;
  animation-duration: 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.js-modal-open {
  display: block;
}

/* ПРАВИЛА FOOTER САЙТА */
/* ========================================================================== */

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1146px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 27px;
}

.main-footer .list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0;
  margin-right: 145px;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}

.list-social .item-social {
  width: 38px;
  height: 38px;
  margin: 0;
  margin-right: 12px;
  padding: 0;
}

.list-social .button-social {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.button-social path,
.button-social rect {
  fill: rgba(255, 255, 255, 0.8)
}

.list-social .button-social:hover,
.list-social .button-social:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.button-social:hover path,
.button-social:focus path,
.button-social:hover rect,
.button-social:focus rect {
  fill: #ffffff;
}

.button-social:active path,
.button-social:hover rect {
  fill: #e9e9e9;
}

.main-footer .list-useful {
  width: 385px;
  margin: 0;
  margin-top: 9px;
  padding: 0;
  -webkit-column-count: 2;
          column-count: 2;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  list-style: none;
}

.list-useful a {
  text-align: left;
  outline: none;
}

.list-useful .item-useful {
  position: relative;

  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  padding-left: 21px;
}

.list-useful .column-left {
  right: -55px;
}

.list-useful .item-useful-heart::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 0;

  width: 15px;
  height: 13px;

  background-color: transparent;
  background-image: url("../img/icon-heart.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.main-footer b {
  font-weight: 700;
}

.main-footer p {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-copyright {
  margin-top: -1px;
  margin-bottom: 20px;
  margin-left: auto;
}

.footer-copyright .a-logo-footer-copyright {
  display: inline;
}

.footer-copyright .a-logo-footer-copyright:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.footer-copyright img {
  width: 118px;
  height: 38px;
}

.footer-copyright p {
  font-size: 12px;
}

.footer-copyright .a-footer-copyright {
  display: inline;
}

/* ПРАВИЛА СТРАНИЦЫ КАТАЛОГА */
/* ========================================================================== */

.header-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3px;
}

.header-catalog .list-breadcrubs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0;
  margin-right: 25px;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  font-weight: 700;

  list-style: none;
}

.list-breadcrubs .item-breadcrubs {
  position: relative;

  margin: 0;
  margin-right: 10px;
  padding: 0;
  padding-left: 15px;
}

.list-breadcrubs .item-breadcrubs:first-child {
  padding-left: 0;
}

.list-breadcrubs li:not(.item-breadcrubs-first)::before {
  content: "»";

  position: absolute;
  left: 0;

  width: 7px;
  height: 7px;
}

.list-breadcrubs .breadcrubs-current {
  text-decoration: none;
}

.list-breadcrubs .breadcrubs-current:hover {
  color: #ffffff;

  text-decoration: none;
}

.title-catalog {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filters {
  /* margin-right: 275px; */
  margin-bottom: 19px;
}

.filters .form-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* -webkit-box-pack: justify; */
      /* -ms-flex-pack: justify; */
          /* justify-content: space-between; */
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  min-height: 130px;

  outline: 1px solid grey;
}

.form-filters .block-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  /* min-width: 195px; */
  margin: 0;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 0;
}

.form-filters .title-block-filters {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  padding-left: 15px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.form-filters .background-block-filters {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50px;
}

.form-filters .block-sorting {
  position: relative;

  margin-right: 16px;
}

.form-filters .block-sorting::after {
  content: "▼";

  position: absolute;
  right: 6.4%;
  bottom: 17%;

  font-size: 14px;

  pointer-events: none;
}

.block-sorting .sorting-block-filters {
  min-width: 193px;
  padding: 9px 14px;

  color: #ffffff;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  cursor: pointer;
}

.block-sorting:hover .sorting-block-filters {
  color: #000000;

  background-color: #ffffff;
}

.block-sorting .sorting-block-filters:focus {
  -webkit-box-shadow: 0 0 0 2px #ffffff;
          box-shadow: 0 0 0 2px #ffffff;
  outline: none;
}

.block-sorting:hover::after {
  right: 9%;
  bottom: 20%;

  font-size: 10px;
  color: #000000;
}

.sorting-block-filters option {
  color: #000000;
}

.block-range .range-block-filter {
  position: relative;

  width: 218px;
  height: 36px;
  margin-right: 5px;
}

.range-block-filter .scale {
  position: absolute;
  top: 50%;
  left: 10%;

  width: 80%;
  height: 4px;
  margin-top: -2px;

  background-color: rgba(255, 255, 255, 0.5)
}

.range-block-filter .bar {
  position: absolute;
  left: 7.5%;

  width: 67.5%;
  height: 4px;

  background-color: #ffffff;
}

.range-block-filter .range-toggle {
  position: absolute;
  top: -8px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.range-block-filter .range-toggle-min {
  left: 0;
}

.range-block-filter .range-toggle-max {
  right: 0;
}

.form-filters fieldset {
  border: none;
}

.block-fat .list-fat,
.block-fillers .list-filler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.block-fat .item-fat {
  margin: 0;
  padding: 9px 14px;
  padding-top: 10px;
  padding-right: 18px;
}

.block-fat .item-fat:nth-child(3),
.block-fat .item-fat:nth-child(4) {
  margin-left: -2px;
}

.block-fat .item-fat:not(:last-child) {
  padding-right: 7px;
}

.block-fat .label-fat {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 30px;

  cursor: pointer;
}

.block-fat .radio-indicator {
  position: absolute;
  top: 50%;
  left: 0;

  width: 22px;
  height: 22px;
  margin-top: -12px;

  background-color: #e6ebe9;
  border-radius: 50%;
  -webkit-box-shadow:
    inset 0 0 0 3px #e6ebe9,
    inset 0 0 0 7px #849d8f,
    inset 0 0 0 11px #849d8f;
          box-shadow:
    inset 0 0 0 3px #e6ebe9,
    inset 0 0 0 7px #849d8f,
    inset 0 0 0 11px #849d8f;
}

.block-fat input:checked + .radio-indicator {
  -webkit-box-shadow:
    inset 0 0 0 3px #e6ebe9,
    inset 0 0 0 7px #849d8f,
    inset 0 0 0 11px #e6ebe9;
          box-shadow:
    inset 0 0 0 3px #e6ebe9,
    inset 0 0 0 7px #849d8f,
    inset 0 0 0 11px #e6ebe9;
}

.block-fat input:hover + .radio-indicator {
  -webkit-box-shadow:
    inset 0 0 0 3px #ffffff,
    inset 0 0 0 7px #849d8f,
    inset 0 0 0 11px #849d8f;
          box-shadow:
    inset 0 0 0 3px #ffffff,
    inset 0 0 0 7px #849d8f,
    inset 0 0 0 11px #849d8f;
}

.block-fat input:checked:hover + .radio-indicator,
.block-fat input:focus + .radio-indicator {
  -webkit-box-shadow:
    inset 0 0 0 3px #ffffff,
    inset 0 0 0 7px #849d8f,
    inset 0 0 0 11px #ffffff;
          box-shadow:
    inset 0 0 0 3px #ffffff,
    inset 0 0 0 7px #849d8f,
    inset 0 0 0 11px #ffffff;
}

.block-fat input:disabled + .radio-indicator{
  -webkit-box-shadow:
    inset 0 0 0 3px #b5c4bc,
    inset 0 0 0 7px #849d8f,
    inset 0 0 0 11px #849d8f;
          box-shadow:
    inset 0 0 0 3px #b5c4bc,
    inset 0 0 0 7px #849d8f,
    inset 0 0 0 11px #849d8f;
}

.block-fat input:checked:disabled + .radio-indicator {
  -webkit-box-shadow:
    inset 0 0 0 3px #b5c4bc,
    inset 0 0 0 7px #849d8f,
    inset 0 0 0 11px #b5c4bc;
          box-shadow:
    inset 0 0 0 3px #b5c4bc,
    inset 0 0 0 7px #849d8f,
    inset 0 0 0 11px #b5c4bc;
}

.filters .block-fillers {
  margin-right: 14px;
}

.block-fillers .item-filler {
  margin: 0;
  padding: 9px 14px;
}

.block-fillers .item-filler:last-child {
  padding-right: 19px;
}

.block-fillers .item-filler:not(:last-child) {
  padding-right: 5px;
}

.block-fillers .label-filler {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 34px;

  cursor: pointer;
}

.block-fillers .checkbox-indicator {
  position: absolute;
  top: 50%;
  left: 0;

  width: 27px;
  height: 23px;
  margin-top: -11px;

  transform: scale(0.9);
}

.checkbox-indicator path {
  fill: #e6ebe9;
}

.input-filler:checked + .checkbox-indicator path,
.input-filler:checked + .checkbox-indicator polygon {
  fill: #e6ebe9;
}

.input-filler:hover + .checkbox-indicator path,
.input-filler:checked:hover + .checkbox-indicator polygon,
.input-filler:focus + .checkbox-indicator path,
.input-filler:checked:focus + .checkbox-indicator polygon {
  fill: #ffffff;
}

.input-filler:disabled + .checkbox-indicator path,
.input-filler:checked:disabled + .checkbox-indicator path,
.input-filler:checked:disabled + .checkbox-indicator polygon {
  fill: #b5c4bc;
}

.filters .button-filters {
  margin-top: 22px;
  margin-right: 10px;
  padding: 7px 28px;
  padding-right: 27px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  color: #ffffff;

  background-color: #9cb0a4;
  border: 2px solid #ffffff;
  border-radius: 50px;
  outline: none;

  cursor: pointer;
}

.filters .button-filters:hover,
.filters .button-filters:focus  {
  padding: 9px 30px;

  color: #000000;

  background-color: #ffffff;
  border: none;
}

.filters .button-filters:active {
  padding: 9px 30px;

  color: #000000;

  background-color: #eaeaea;
  border: none;
  -webkit-box-shadow: inset 0 2px 2px #696969;
          box-shadow: inset 0 2px 2px #696969;
}

.catalog-page .catalog {
  margin-bottom: 45px;
}

.list-paginator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-bottom: 30px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  list-style: none;
}

.list-paginator .item-paginator-left {
  margin-right: 7px;
}

.list-paginator .item-paginator {
  margin: 0 2px;
  padding: 0;
}

.list-paginator .item-paginator-right {
  margin-right: 25px;
  margin-left: 7px;
}

.list-paginator .button-paginator {
  padding: 4px 8px;
  padding-bottom: 3px;

  border-radius: 50%;
  text-decoration: none;
}

.list-paginator .button-paginator-left,
.list-paginator .button-paginator-right {
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: transparent;
  border: none;
  outline: none;

  -webkit-transform: scale(1.8);
      -ms-transform: scale(1.8);
          transform: scale(1.8);
}

.list-paginator button:disabled {
  color: rgba(255, 255, 255, 0.2);
}

.list-paginator .button-paginator:hover,
.list-paginator .button-paginator:focus {
  text-decoration: none;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.list-paginator .button-paginator-left:not(:disabled):hover,
.list-paginator .button-paginator-left:not(:disabled):focus,
.list-paginator .button-paginator-right:not(:disabled):hover,
.list-paginator .button-paginator-right:not(:disabled):focus {
  cursor: pointer;

  -webkit-transform: scale(3);
      -ms-transform: scale(3);
          transform: scale(3);
}

.list-paginator .button-paginator-current,
.list-paginator .button-paginator-current:hover,
.list-paginator .button-paginator:active {
  text-decoration: none;
  color: #000000;

  background-color: #ffffff;
}

.catalog-linear::after {
  content: "";

  position: absolute;
  right: 27px;
  bottom: 0;

  display: block;
  width: 1146px;
  height: 1px;

  background-color: #d1d0ce;
}
