/* Модальные окна */
/* ========================================================================== */

.modal {
  display: none;

  background-color: #f8f7f4;
}

/* Глобальные стили */
/* ========================================================================== */

body {
  padding-top: 9px;

  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

a {
  display: block;

  vertical-align: center;
  text-align: center;
}

a:not(.button) {
  color: #ffffff;

  text-decoration: underline solid rgba(255, 255, 255, 0.3);
  text-underline-position: under;
}

a:not(.button):hover,
a:not(.button):active {
  color: #ffbc9e;

  text-decoration: underline solid rgba(255, 188, 158, 0.3);
}

.button {
  min-width: 100px;
  padding: 10px 15px;
  color: #ffffff;

  background-color: #e94f38;
  border: none;
  text-decoration: none;
  /* Памятка: градиент и тень */
}

.button:hover {
  background-color: #f07a63;
}

.button:active {
  /* Памятка: градиент и тень в обратном направлении */
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*
input,
textarea {
  padding: 15px;
}
*/

/*
input:placeholder,
textarea:placeholder-shown {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #999999;

  background-color: #ffffff;
}
  Не работает
*/

/* Шапка сайта */
/* ========================================================================== */

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header .logo-gllacyshop {
  width: 154px;
  height: 64px;
  margin-right: 10px;
}

.main-header .main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
}

.main-navigation .list-navigation-site {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: stretch;
  flex-grow: 2;
  margin: 0;
  margin-right: 25px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;

  list-style: none;
}

.list-navigation-site .item-navigation-site {
  position: relative;

  margin: auto 0;
  padding: 0;
  padding-bottom: 4px;
}

.list-navigation-site .button-navigation {
  padding: 6px 14px;
}

.list-navigation-site .button-navigation:hover {
  color: #000000;

  background-color: #ffffff;
  text-decoration: none;
}

.list-navigation-site .button-navigation:active {
  color: #000000;

  background-color: #ededed;
  text-decoration: none;
  /* Памятка: внутренняя тень */
}

.list-navigation-site .button-navigation-current,
.list-navigation-site .button-navigation-current:hover {
  color: #000000;

  background-color: #d07058;
  text-decoration: none;
}

.item-navigation-site .modal-list-navigation-catalog {
  position: absolute;
  z-index: 10;

  margin: 0;
  margin-top: 4px;
  margin-left: -6px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  background-color: #f8f7f4;
  list-style: none;
}

.modal-list-navigation-catalog b {
  font-weight: 700;
}

.modal-list-navigation-catalog .modal-item-navigation-catalog {
  margin: 0;
  padding: 0;

  white-space: nowrap;
}

.modal-list-navigation-catalog .modal-item-navigation-catalog:first-child {
  position: relative;
}

.modal-list-navigation-catalog .modal-item-navigation-catalog:first-child::after {
  content: "";

  position: absolute;
  right: 5%;
  bottom: 0;

  display: block;
  width: 90%;
  height: 1px;

  background-color: #d1d0ce;
}

.modal-list-navigation-catalog a {
  padding: 10px 15px;

  color: #000000;
}

.modal-list-navigation-catalog a:hover {
  color: #000000;

  background-color: #fbded7;
}

.modal-list-navigation-catalog a:active {
  color: #000000;

  background-color: #f6b5a5;
}

.modal-list-navigation-catalog .modal-button-navigation-catalog-current {
  color: #ffffff;

  background-color: #d07058;
  text-decoration: none;
}

.item-navigation-site:hover .modal-list-navigation-catalog {
  display: block;
}

.main-navigation .list-navigation-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: stretch;
  flex-grow: 1;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  list-style: none;
}

.list-navigation-user .item-navigation-user {
  position: relative;

  margin: auto 0;
  margin-left: 10px;
  padding: 0;
  padding-bottom: 4px;
}

.list-navigation-user .button-navigation-user {
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 6px;
  padding-left: 45px;
  color: #ffffff;

  background-color: #a1b4a9;
  text-decoration: none;
}

.list-navigation-user .button-navigation-user-search {
  width: 32px;
  height: 32px;
  padding: 0;
}

.button-navigation-user svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.button-navigation-user-search svg {
  top: 7px;
  left: 7px;
}

.item-navigation-user .button-navigation-user:hover,
.item-navigation-user .button-navigation-user-basket-full {
  color: #000000;

  background-color: #ffffff;
  text-decoration: none;
}

.button-navigation-user-basket-full path,
.button-navigation-user-basket-full circle {
  fill: #343434;
}

.button-navigation-user:hover path,
.button-navigation-user:hover circle,
.button-navigation-user:not(.button-navigation-user-basket-full):hover polygon {
  fill: #343434;
}

.item-navigation-user-search .modal-search {
  z-index: 10;
  position: absolute;
  right: 0;

  width: 311px;
  margin-top: 4px;
  padding: 20px 15px;
}

.form-search p {
  margin: 0;
  padding: 0;
}

.form-search input[type="search"] {
  box-sizing: border-box;
  width: 100%;
}

.item-navigation-user-search:hover .modal-search {
  display: block;
}

.item-navigation-user-login-link .modal-user {
  z-index: 10;
  position: absolute;
  right: 0;

  width: 240px;
  margin-top: 4px;
  padding: 20px;
  padding-bottom: 0;
}

.modal-user p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.form-user input[type="email"],
.form-user input[type="password"] {
  box-sizing: border-box;
  width: 100%;
}

.form-user .button {
  position: absolute;
  left: 20px;
  bottom: 20px;

  padding-right: 25px;
  padding-left: 25px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.modal-user > p {
  margin-left: 120px;
}

.modal-user a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #000000;

  text-decoration: underline;
}

.item-navigation-user-login-link:hover .modal-user {
  display: block;
}

.item-navigation-user-basket-full .modal-basket {
  position: absolute;
  right: 0;

  width: 510px;
  margin-top: 4px;
  padding: 15px;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
}

.table-basket {
  position: relative;

  width: 100%;
  margin-bottom: 100px;

  border-collapse: collapse;
}

.table-basket th,
.table-basket td {
  padding: 10px 12px;

  text-align: center;
  vertical-align: center;
}

.table-basket .cell-basket-close {
  padding-right: 0;
  padding-left: 0;
}

.table-basket .button-basket-close {
  width: 11px;
  min-height: 11px;

  border: none;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.table-basket .cell-basket-close:hover {
  transform: scale(1.2);
}

.table-basket .cell-basket-close:active {
  transform: scale(0.9);
}

.table-basket td:nth-of-type(2) {
  position: relative;

  width:228px;
  padding-left: 53px;
}

.table-basket img {
  position: absolute;
  top: 50%;
  left: 10px;

  width: 33px;
  height: 33px;
  margin-top: -16px;
}
/*
.table-basket td:nth-of-type(2)::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 10px;

  width: 33px;
  height: 33px;
  margin-top: -16px;

  background-repeat: no-repeat;
  background-position: center center;
}

.table-basket .cell-product-1::before {
  background-image: url("../img/product-1-small.jpg");
}

.table-basket .cell-product-3::before {
  background-image: url("../img/product-3-small.jpg");
}
*/

.table-basket a {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  color: #000000;

  text-decoration: none;
}
.table-basket span {
  color: #999999;
}

.table-basket .row-total {
  position: absolute;
  right: 0;
}

.row-total th,
.row-total td {
  padding: 15px 0;

  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.row-total th {
  padding-right: 4px;
}

.table-basket tr:nth-last-child(2) {
  border-bottom: 1px solid #cacac7;
}

.modal-basket .button {
  position: absolute;
  right: 15px;
  bottom: 15px;

  margin: 0;
  padding: 15px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.item-navigation-user-basket-full:hover .modal-basket {
  display: block;
}

/* Главная страница */
/* ========================================================================== */

.operation-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.operation p {
  margin: 0;
  padding: 0;

  text-align: right;
}

.operation .mode {
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.operation .phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.advertising {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -20px;
}

.advertising .list-advertising {
  margin: 0;
  padding: 0;

  list-style: none;
}

.list-advertising .item-advertising {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 240px;
  min-height: 275px;
  margin: 0;
  margin-top: -34px;
  padding: 0 230px;
  padding-top: 309px;

  background-color: transparent;
  background-image: url("../img/background-advertising-sentence-1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.item-advertising a {
  margin-bottom: 31px;

  text-decoration: none;
}

.item-advertising h3 {
  margin: 0;
  padding: 0;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}

.advertising .button {
  padding-right: 43px;
  padding-left: 39px;

  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.advertising .list-slider {
  position: absolute;
  top: 563px;

  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.list-slider .item-slider {
  margin: 0;
  margin-right: 8px;
  padding: 0;
}

.item-slider .button-slider {
  width: 21px;
  height: 21px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.item-slider .button-slider:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.item-slider .button-slider:active,
.item-slider .button-slider-current {
  background-color: #ffffff;
}

.presents {
  margin-bottom: 35px;
}

.presents .list-presents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.presents li {
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 560px;
  min-height: 229px;
  margin: 0;
  padding: 0;
}

.presents .item-raspberry {
  background-color: #671223;
  background-image: url("../img/background-presents-raspberry.jpg");
  background-position: left top;
  background-repeat: no-repeat;
}

.presents .item-chocolate {
  background-color: #3c2317;
  background-image: url("../img/background-presents-chocolate.jpg");
  background-position: left top;
  background-repeat: no-repeat;
}

.presents h3 {
  margin: 0 19px;
  margin-top: 16px;
  margin-bottom: 15px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.presents p {
  margin: 0 19px;
  margin-bottom: 25px;
  padding: 0;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.presents .button {
  align-self: flex-end;
  margin: auto;
  margin-right: 21px;
  margin-bottom: 24px;
  padding-right: 23px;
  padding-left: 22px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.container-catalog {
  width: 1200px;
  margin: 0 auto;
}

.catalog-main {
  margin-bottom: 38px;
}

.catalog .list-catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: stretch;
  margin: 0 15px;
  padding: 0;

  list-style: none;
}

.list-catalog .item-catalog {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 258px;
  margin: 0;
  padding: 0 14px;
  padding-top: 6px;
}

.item-catalog a {
  order: 1;
}

.item-catalog h3 {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}

.item-catalog p {
  margin: 0;
  padding: 0;
}

.item-catalog .block-image {
  margin-bottom: 10px;
}

.block-image img {
  width: 265px;
  height: 265px;

  border-radius: 50%;
}

.item-catalog .block-price {
  position: absolute;
  top: 215px;
  left: 10px;
}

.block-price .price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.block-price .weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.item-catalog:hover .block-button {
  z-index: 1;
  bottom: -84px;
  left: 0;

  width: 286px;
  height: 84px;
  margin: 0;
  padding: 0;
  border: none;

  white-space: normal;

  clip-path: none;
  clip: auto;
  overflow: visible;
  background-color: rgba(255, 255, 255, 0.2);
}

.item-catalog .button-catalog {
  margin: 0 40px;
  margin-top: 17px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
/*
.item-catalog .button-catalog {
  order: auto;
  visibility: hidden;

  margin: auto;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.item-catalog:hover .button-catalog {
  visibility: visible;
}
*/

.catalog-main .item-catalog-hit::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 11px;

  width: 62px;
  height: 62px;

  background-color: #ffffff;
  background-image: url("../img/icon-catalog-hit.svg");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.catalog .item-catalog:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*
.features {
  margin: 0;
  margin-bottom: 40px;
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 1px;

  color: #000000;

  background-color: #ebdec1;
  background-image: url("../img/background-features-wafer.jpg");
  background-position: top left;
  background-repeat: no-repeat;
}

.features p {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features .list-features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: stretch;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features .item-feature {
  position: relative;

  width: 480px;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  padding-left: 56px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.features .item-feature::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 49px;
  height: 49px;
  margin-top: -14px;

  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}

.features .item-feature-ice-cream::before {
  background-image: url("../img/icon-features-ice-cream.svg");
}

.features .item-feature-cow::before {
  background-image: url("../img/icon-features-cow.svg");
}

.features .item-feature-leaf::before {
  background-image: url("../img/icon-features-leaf.svg");
}

.features .item-feature-thermometer::before {
  background-image: url("../img/icon-features-thermometer.svg");
}
*/

.features {
  margin: 0;
  margin-bottom: 40px;
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 1px;

  color: #000000;

  background-color: #ebdec1;
  background-image: url("../img/background-features-wafer.jpg");
  background-position: top left;
  background-repeat: no-repeat;
}

.features p {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features .list-features {
  column-count: 2;
  column-gap: 26px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features .item-feature {
  position: relative;

  width: 480px;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-left: 56px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.features .item-feature::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 0;

  width: 49px;
  height: 49px;

  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}

.features .item-feature-ice-cream::before {
  background-image: url("../img/icon-features-ice-cream.svg");
}

.features .item-feature-cow::before {
  background-image: url("../img/icon-features-cow.svg");
}

.features .item-feature-leaf::before {
  background-image: url("../img/icon-features-leaf.svg");
}

.features .item-feature-thermometer::before {
  background-image: url("../img/icon-features-thermometer.svg");
}

.blog-appointment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 39px;
}

.new-blog {
  width: 520px;
  min-height: 195px;
  padding: 0 20px;
  padding-top: 23px;

  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/background-blog-strawberry.jpg");
  background-position: left top;
  background-repeat: no-repeat;
}

.new-blog .wrapper {
  width: 285px;
}

.new-blog h2 {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.new-blog a {
  margin-bottom: 25px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: #000000;

  text-decoration: underline solid #000000;
  text-underline-position: auto;
}

.new-blog a:hover,
.new-blog a:active {
  color: #e84d37;

  text-decoration: underline solid rgba(232, 077, 055, 0.3);
}

.appointment {
  width: 508px;
  min-height: 178px;
  padding: 0 19px;
  padding-top: 28px;
  padding-right: 20px;

  color: #5a5a5a;

  background-color: #f8f7f4;
  border: 6px solid #92cdff;
}

.appointment .info-appointment {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.appointment .form-appointment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 33px;
}

.form-appointment .row-form-appointment {
  margin: 0;
  padding: 0;
}

.appointment input[type="email"] {
  box-sizing: border-box;
  width: 100%;
}

.appointment .button {
  padding-top: 9px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 17px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.container-address {
  position: relative;

  width: 1200px;
  margin: 0 auto;
}

.address-connection {
  position: absolute;
  top: 63px;
  right: 27px;

  width: 252px;
  min-height: 245px;
  margin: 0;
  padding: 29px 25px;
  /* padding-right: 15px; */

  color: #000000;

  background-color: #ffffff;
  font-style: normal;
}

.address-connection p {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.address-connection .block-phone {
  margin-bottom: 23px;
}

.address-connection span {
  display: block;
}

.address-connection b {
  display: block;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.address-connection .row-address {
  width: 155px;
}

.address-connection .phone {
  margin-top: 4px;
  margin-bottom: 3px;
}

.address-connection .button-connection {
  padding-top: 10px;
  padding-right: 27px;
  padding-bottom: 12px;
  padding-left: 28px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.modal-connection {
  position: fixed;
  top: 50%;
  left: 50%;

  min-width: 427px;
  margin-top: -221px;
  margin-left: -239px;
  padding: 25px;
  padding-top: 20px;

  background-color: #f8f7f4;
}

.modal-connection p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.modal-connection b {
  color: #000000;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal-connection .block-connection-call {
  margin-bottom: 25px;
}

.form-connection p:last-of-type {
  margin-bottom: 70px;
}

.form-connection input[type="text"],
.form-connection input[type="email"] {
  box-sizing: border-box;
  width: 62%;
}

.form-connection textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 155px;
}

.form-connection .button {
  position: absolute;
  bottom: 25px;
  right: 25px;

  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.modal-connection .modal-close {
  position: absolute;
  top: 15px;
  right: 14px;

  width: 17px;
  height: 17px;

  border: none;
  background-color: transparent;
  background-image: url("../img/icon-close.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.modal-connection .modal-close:hover {
  transform: scale(1.2);
}

.modal-connection .modal-close:active {
  transform: scale(0.9);
}


/* Подвал сайта */
/* ========================================================================== */

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.main-footer .list-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
  margin-right: 145px;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}

.list-social .item-social {
  width: 38px;
  height: 38px;
  margin: 0;
  margin-right: 12px;
  padding: 0;
}

.list-social .button-social {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.button-social path,
.button-social rect {
  fill: rgba(255, 255, 255, 0.8)
}

.list-social .button-social:hover,
.list-social .button-social:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.button-social:hover path,
.button-social:hover rect {
  fill: #ffffff;
}

.button-social:active path,
.button-social:hover rect {
  fill: #e9e9e9;
}

.main-footer .list-useful {
  width: 385px;
  column-count: 2;
  margin: 0;
  margin-top: 9px;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  list-style: none;
}

.list-useful a {
  text-align: left;
}

.list-useful .item-useful {
  position: relative;

  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  padding-left: 21px;
}

.column-left {
  right: -55px;
}

.list-useful .item-useful-heart::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 0;

  width: 15px;
  height: 13px;

  background-color: transparent;
  background-image: url("../img/icon-heart.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

/*
.main-footer .list-useful {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 360px;
  margin: 0;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  list-style: none;
}

.list-useful .item-useful {
  position: relative;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  padding-left: 21px;
}

.item-useful a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
}

.list-useful .item-useful-heart::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 0;

  width: 15px;
  height: 13px;

  background-color: transparent;
  background-image: url("../img/icon-heart.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
*/

.main-footer b {
  font-weight: 700;
}

.main-footer p {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-copyrightn {
  margin-top: -1px;
  margin-bottom: 20px;
  margin-left: auto;
}

.footer-copyrightn img {
  transform: scale(1.2);
  margin-bottom: 5px;
}

.footer-copyrightn p {
  font-size: 12px;
}

.footer-copyrightn a {
  display: inline;
}

/* Страница каталога */
/* ========================================================================== */

.header-catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3px;
}

.header-catalog .list-breadcrubs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
  margin-right: 25px;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  font-weight: 700;

  list-style: none;
}

.list-breadcrubs .item-breadcrubs {
  position: relative;

  margin: 0;
  margin-right: 10px;
  padding: 0;
  padding-left: 15px;
}

.list-breadcrubs .item-breadcrubs:first-child {
  padding-left: 0;
}

.list-breadcrubs li:not(.item-breadcrubs-first)::before {
  content: "»";

  position: absolute;
  left: 0;

  width: 7px;
  height: 7px;
}

.list-breadcrubs .breadcrubs-current {
  text-decoration: none;
}

.title-catalog {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filters {
  margin-right: 265px;
  margin-bottom: 35px;
}

.filters .form-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
  min-height: 130px;
}

.form-filters .block-filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 195px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.form-filters .title-block-filters {
  margin-bottom: 5px;
}

.form-filters fieldset {
  border: none;
}

.block-fat .list-fat,
.block-fillers .list-filler {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.list-fat .item-fat {
  margin: 0;
  margin-right: 15px;
  padding: 0;
}

.list-fat .item-fat:last-child {
  margin-right: 0;
}

.list-filler .item-filler {
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.list-filler .item-filler:last-child {
  margin-right: 0;
}

.filters .button {
  margin-right: 10px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  color: #ffffff;

  background-color: #9cb0a4;
  border: 2px solid #ffffff;
}

.filters .button:hover {
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.filters .button:active {
  color: #000000;

  background-color: #eaeaea;
  border: 2px solid #eaeaea;
  /* Памятка: внутренняя тень */
}

.catalog:not(.catalog-main) {
  margin-bottom: 40px;
}

.catalog:not(.catalog-main) .item-catalog {
  margin-bottom: 35px;
}

.list-paginator {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 30px;
  padding: 0 30px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  list-style: none;
}

.list-paginator .item-paginator {
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.list-paginator .item-paginator:last-child {
  margin-right: 0;
}

.list-paginator .button-paginator {
  text-decoration: none;
}

.list-paginator .button-paginator-current,
.list-paginator .button-paginator-current:hover {
  color: #000000;

  background-color: #ffffff;
}
